@use '../../../styles/_mixin.scss' as *;

.ai_model_card {
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 1px solid rgba($color: color(ai_brand_blue), $alpha: .25);

    .ai_title {
        color: color(ai_white);
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1.5rem;

         @include sm {
            font-size: 1.125rem;
        }
    }

    .ai_table_responsive {
        width: 100%;
        overflow-x: auto;
        border-radius: .75rem;
        padding-bottom: .5rem; 
        
        &::-webkit-scrollbar {
            height: 3px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba($color: color(ai_gray), $alpha: .5);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
             margin-inline: .25rem; 
        }

        .ai_table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            border: 1px solid rgba($color: color(ai_gray), $alpha: .2);
            border-radius: .75rem;
            overflow: hidden;
            cursor: pointer;
    
            thead {
                background-color: rgba($color: color(ai_gray), $alpha: .05);
    
                th {
                    text-align: left;
                    font-size: .875rem;
                    color: rgba($color: color(ai_white_off), $alpha: .75);
                    font-weight: 400;
                    padding: 1rem;
                    border-bottom: 1px solid rgba($color: color(ai_gray), $alpha: .2);
                }
            }
    
            tbody {
    
                tr {
                    &:nth-child(even) {
                        background-color: rgba($color: color(ai_gray), $alpha: .03);
                    }
    
                    &:hover {
                        background-color: rgba($color: color(ai_gray), $alpha: .08);
                    }
                }
    
                td {
                    padding: 1rem;
                    color: color(ai_white);
                    font-size: .925rem;
                    border-bottom: 1px solid rgba($color: color(ai_gray), $alpha: .1);
                }
                tr:last-child td {
                    border-bottom: none;
                }
            }
    
            .model {
                font-weight: 600;
                color: color(ai_brand_primary);
            }
    
            .good {
                color: #22c55e;
            }
    
            .bad {
                color: #ef4444;
            }
        }
    }
}